<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdj.spider.dao.BlogVoteMapper" >
  <resultMap id="BaseResultMap" type="com.sdj.spider.models.BlogVote" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="blogid" property="blogid" jdbcType="INTEGER" />
    <result column="issupport" property="issupport" jdbcType="BIT" />
    <result column="votetime" property="votetime" jdbcType="TIMESTAMP" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, blogid, issupport, votetime, userid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blogvote
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blogvote
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sdj.spider.models.BlogVote" >
    insert into blogvote (id, blogid, issupport, 
      votetime, userid)
    values (#{id,jdbcType=INTEGER}, #{blogid,jdbcType=INTEGER}, #{issupport,jdbcType=BIT}, 
      #{votetime,jdbcType=TIMESTAMP}, #{userid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sdj.spider.models.BlogVote" >
    insert into blogvote
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blogid != null" >
        blogid,
      </if>
      <if test="issupport != null" >
        issupport,
      </if>
      <if test="votetime != null" >
        votetime,
      </if>
      <if test="userid != null" >
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="blogid != null" >
        #{blogid,jdbcType=INTEGER},
      </if>
      <if test="issupport != null" >
        #{issupport,jdbcType=BIT},
      </if>
      <if test="votetime != null" >
        #{votetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sdj.spider.models.BlogVote" >
    update blogvote
    <set >
      <if test="blogid != null" >
        blogid = #{blogid,jdbcType=INTEGER},
      </if>
      <if test="issupport != null" >
        issupport = #{issupport,jdbcType=BIT},
      </if>
      <if test="votetime != null" >
        votetime = #{votetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sdj.spider.models.BlogVote" >
    update blogvote
    set blogid = #{blogid,jdbcType=INTEGER},
      issupport = #{issupport,jdbcType=BIT},
      votetime = #{votetime,jdbcType=TIMESTAMP},
      userid = #{userid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>