<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdj.spider.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.sdj.spider.models.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="post_id" property="postid" jdbcType="INTEGER" />
    <result column="user_id" property="userid" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="posted" property="posted" jdbcType="TIMESTAMP" />
    <result column="comment_id" property="commentid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, post_id, user_id, content, posted, comment_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blog_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sdj.spider.models.Comment" >
    insert into blog_comment (id, post_id, user_id,
      content, posted, comment_id
      )
    values (#{id,jdbcType=INTEGER}, #{postid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{posted,jdbcType=TIMESTAMP}, #{commentid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sdj.spider.models.Comment" >
    insert into blog_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="postid != null" >
        post_id,
      </if>
      <if test="userid != null" >
        user_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="posted != null" >
        posted,
      </if>
      <if test="commentid != null" >
        comment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="postid != null" >
        #{postid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="posted != null" >
        #{posted,jdbcType=TIMESTAMP},
      </if>
      <if test="commentid != null" >
        #{commentid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sdj.spider.models.Comment" >
    update blog_comment
    <set >
      <if test="postid != null" >
        post_id = #{postid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        user_id = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="posted != null" >
        posted = #{posted,jdbcType=TIMESTAMP},
      </if>
      <if test="commentid != null" >
        comment_id = #{commentid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sdj.spider.models.Comment" >
    update blog_comment
    set post_id = #{postid,jdbcType=INTEGER},
      user_id = #{userid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      posted = #{posted,jdbcType=TIMESTAMP},
      comment_id = #{commentid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>