<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdj.spider.dao.CommentVoteMapper" >
  <resultMap id="BaseResultMap" type="com.sdj.spider.models.CommentVote" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="comment_id" property="commentid" jdbcType="INTEGER" />
    <result column="is_support" property="issupport" jdbcType="BIT" />
    <result column="vote_time" property="votetime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, comment_id, is_support, vote_time, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blog_comment_vote
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog_comment_vote
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sdj.spider.models.CommentVote" >
    insert into blog_comment_vote (id, comment_id, is_support,
      vote_time, user_id)
    values (#{id,jdbcType=INTEGER}, #{commentid,jdbcType=INTEGER}, #{issupport,jdbcType=BIT}, 
      #{votetime,jdbcType=TIMESTAMP}, #{userid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sdj.spider.models.CommentVote" >
    insert into blog_comment_vote
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commentid != null" >
        comment_id,
      </if>
      <if test="issupport != null" >
        is_support,
      </if>
      <if test="votetime != null" >
        vote_time,
      </if>
      <if test="userid != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commentid != null" >
        #{commentid,jdbcType=INTEGER},
      </if>
      <if test="issupport != null" >
        #{issupport,jdbcType=BIT},
      </if>
      <if test="votetime != null" >
        #{votetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sdj.spider.models.CommentVote" >
    update blog_comment_vote
    <set >
      <if test="commentid != null" >
        comment_id = #{commentid,jdbcType=INTEGER},
      </if>
      <if test="issupport != null" >
        is_support = #{issupport,jdbcType=BIT},
      </if>
      <if test="votetime != null" >
        vote_time = #{votetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        user_id = #{userid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sdj.spider.models.CommentVote" >
    update blog_comment_vote
    set comment_id = #{commentid,jdbcType=INTEGER},
      is_support = #{issupport,jdbcType=BIT},
      vote_time = #{votetime,jdbcType=TIMESTAMP},
      user_id = #{userid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>