<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdj.spider.dao.FolloweeMapper" >
  <resultMap id="BaseResultMap" type="com.sdj.spider.models.Followee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="followeeid" property="followeeid" jdbcType="VARCHAR" />
    <result column="followeetime" property="followeetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, followeeid, followeetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blog_followee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog_followee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sdj.spider.models.Followee" >
    insert into blog_followee (id, userid, followeeid,
      followeetime)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{followeeid,jdbcType=VARCHAR}, 
      #{followeetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sdj.spider.models.Followee" >
    insert into blog_followee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="followeeid != null" >
        followeeid,
      </if>
      <if test="followeetime != null" >
        followeetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="followeeid != null" >
        #{followeeid,jdbcType=VARCHAR},
      </if>
      <if test="followeetime != null" >
        #{followeetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sdj.spider.models.Followee" >
    update blog_followee
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="followeeid != null" >
        followeeid = #{followeeid,jdbcType=VARCHAR},
      </if>
      <if test="followeetime != null" >
        followeetime = #{followeetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sdj.spider.models.Followee" >
    update blog_followee
    set userid = #{userid,jdbcType=VARCHAR},
      followeeid = #{followeeid,jdbcType=VARCHAR},
      followeetime = #{followeetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>