<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdj.spider.dao.PostTagMapper" >
  <resultMap id="BaseResultMap" type="com.sdj.spider.models.PostTag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="postid" property="postid" jdbcType="INTEGER" />
    <result column="tagid" property="tagid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, postid, tagid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from posttag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from posttag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sdj.spider.models.PostTag" >
    insert into posttag (id, postid, tagid
      )
    values (#{id,jdbcType=INTEGER}, #{postid,jdbcType=INTEGER}, #{tagid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sdj.spider.models.PostTag" >
    insert into posttag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="postid != null" >
        postid,
      </if>
      <if test="tagid != null" >
        tagid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="postid != null" >
        #{postid,jdbcType=INTEGER},
      </if>
      <if test="tagid != null" >
        #{tagid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sdj.spider.models.PostTag" >
    update posttag
    <set >
      <if test="postid != null" >
        postid = #{postid,jdbcType=INTEGER},
      </if>
      <if test="tagid != null" >
        tagid = #{tagid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sdj.spider.models.PostTag" >
    update posttag
    set postid = #{postid,jdbcType=INTEGER},
      tagid = #{tagid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>